<!doctype html>
<html class="no-js" lang="en">
  <head>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SP Students</title>
    <link rel="stylesheet" href="../foundation/css/app.css" />
    <link rel="stylesheet" href="../foundation/css/foundation.css" />
    <link rel="stylesheet" href="../stylesheets/styles.css"/>

    <script src="../foundation/bower_components/modernizr/modernizr.js"></script>
  </head>
<body style="max-width:75 em;">
  <div class="top-bar header">
      <div class="top-bar-left">
        <ul class="title-area">
          <li class="name"> 
            <h1><a href="#"><img src="../img/homepage-icon.png"></a></h1>
          </li>  
        </ul> 
      </div>  
    </div>  

<!-- breadcrumbs -->  

  <div class="breadcrumbs-row-color">
    <div class="row">
      <div class="large-12 columns">
        <nav area-label="You are here:" role="navigation">
          <ul class="breadcrumbs">
            <li><a href="#">Home</a></li>
            <li><a href="#">SP Students</a></li>
            <li><span class="show-for-sr">Current: </span>John Smith</li>
          </ul>
        </nav> 
      </div>
    </div>
  </div>
     
    
<!-- tabs go below --> 
  <div style=background-color:#e0dcd1>
    <div class="row">
      <ul class="tabs" data-tabs id="header-menu">
        
        <li class="tabs-title primary"><a href="#panel1" area-selected="true">SP Students</a></li>
        <li class="tabs-title"><a href="#panel2">Promo Codes</a></li>
        <li class="tabs-title"><a href="#panel3">Section Manager</a></li>
        <li class="tabs-title"><a href="#panel4">SP Class View</a></li>
        <li class="tabs-title"><a href="#panel5">Section Manager</a></li>
        <li class="tabs-title"><a href="#panel6">Partner Builder</a></li>
        <li class="tabs-title"><a href="#panel7">Transferman Partners</a></li>
      </ul> 
    </div>
  </div>  



    <div class="footer">
      <div class="row">
        <div class="large-12 columns text-center">
          <p> (c) Maria Korchevskaya</p>
        </div>  
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../foundation/js/foundation.min.js"></script>
    <script src="../foundation/js/app.js"></script>
    <script type="text/javascript" src="../javascript/app.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body> 
</html>    